# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
py3/
env/
env2/
env3/
.venv/

# IDE-specific files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Other
*.swp
*.swo